@font-face {
  font-family: "Chloe";
  src: url("/fonts/Chloe-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Magenta";
  src: url("/fonts/Magenta-Demo-BF64d1ba62aef84.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
span {
  font-size: 1.3em;
  font-weight: 300;
}
p {
  margin-bottom: 1rem;
}
.inline-block {
  vertical-align: top;
  display: inline-block;
}
.logo {
  padding: 1%;
  width: 20%;
  display: inline-flex;
  align-items: center;
}
nav {
  /* width: 99%; */
  /* margin-left: auto; */
  padding: 1%;
  font-size: 24px;
  flex-grow: 1;
}
.image-fluid {
  width: 100%;
}
ul {
  /* width: 90%; */
  margin-left: auto;
  display: flex;
  column-gap: 5rem;
  justify-content: space-between;
}
body {
  font-family: "Josefin Sans", sans-serif;
  /* width: fit-content; */
  font-size: 20px;
  margin-bottom: 150px;
  font-kerning: auto;
}
.heroImg {
  /* padding: 25px; */
  /* background-color:rgba(218, 165, 32, 0.688);
  background-size: cover;
  background-repeat: no-repeat; */
  width: 100%;
  /* aspect-ratio: calc(77/117) */
  /* scale:calc(77/117) */
}

.content {
  /* width: 40%; */
  align-items: center;
  /* margin: 0 auto; */
  padding: 30px;
  font-size: 16px;
  display: flex;
  column-gap: 36px;
  /* text-align: center; */
  justify-content: center;
}
footer {
  background-color: #373738;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 1%;
  margin-top: 20px;
}
footer li {
  color: white;
  font-size: 1rem;
}
header {
  display: flex;
  padding-right: 2rem;
}
li {
  font-size: 24px;
  color: #808080;
  list-style-type: none;
}
button {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: #373738;
  font-family: "Montserrat", sans-serif;
  width: fit-content;
  /* margin-top: 1rem; */
  margin-bottom: 0.25rem;
  /* justify-self: end; */
  /* align-content: right; */
  /* align-self: center; */
  transition: all 0.5s ease-out;
}
button:hover {
  /* font-weight: 400; */
  /* font-size: 1.25rem;
  padding: .375rem; */
  transform: scale(1.25);
  border: goldenrod 1px solid;
}
#casestudy-btn {
  margin-left: 1.5rem;
}
.column {
  display: flex;
  flex-direction: column;
  /* row-gap:1.25rem; */
  justify-content: space-between;
}
.flexContainer {
  display: flex;
  column-gap: 2rem;
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  grid-template-areas:
    "proto1-img proto1"
    "proto2 proto2-img"
    "proto3-img proto3";
}
.square {
  aspect-ratio: 1/1;
  border: lightgray 1px solid;
}
.workGrid img {
  height: 100%;
}
.workGrid > div {
  /* border-bottom: #afafaf 1px solid; */
  padding: 20px;
}
.width-33 {
  width: calc(33% - 2rem);
  align-items: center;
  text-align: justify;
  /* margin-left: 10%;
  margin-right: 10%; */
  margin-bottom: 5%;
}
.width-33 img {
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
h1 {
  font-size: 60px;
  font-family: "Chloe", sans-serif;
  text-align: center;
  /* border: #808080 1px solid; */
  padding: 1rem;
}
h3 {
  font-family: "Magenta", cursive;
  font-size: 3rem;
  text-align: center;
  font-weight: 200;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: gray;
  /* text-transform: uppercase; */
}

h4 {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Magenta", cursive;
  color: gray;
}

#proto1 {
  grid-area: proto1;
  text-align: left;
}
#proto2 {
  grid-area: proto2;
  text-align: right;
  align-items: end;
  /* padding-right: 400px; */
}
#proto3 {
  grid-area: proto3;
  text-align: left;
}
#proto1-img {
  grid-area: proto1-img;
}
#proto2-img {
  grid-area: proto2-img;
  /* align-items: center; */
}

#proto3-img {
  grid-area: proto3-img;
  /* align-self: center; */
}
.philosophy {
  /* background-color: goldenrod; */
  padding: 1rem;
  width: 50%;
}
nav a {
  transition: all 1s;
}

nav a:after {
  text-align: left;
  /* content: "."; */
  margin: 0;
  opacity: 0;
}
nav a:hover {
  color: #fff;
  z-index: 1;
}
nav a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
/* nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block; 
}*/
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 100;
  text-transform: underline;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(51, 50, 50);
  font-weight: 300;
  text-shadow: #aaa;
  text-decoration-line: underline;
}
footer a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 100;
  text-transform: underline;
  margin: 0 10px;
}
footer ul li a,
footer ul li a:after,
footer ul li a:before {
  transition: all 0.5s;
}
footer ul li a:hover {
  color: goldenrod;
  font-weight: 300;
  text-shadow: goldenrod;
  text-decoration-line: underline;
  text-transform: uppercase;
}

h2 {
  font-family: "Magenta", cursive;
  font-size: 3.5rem;
  color: gray;
  text-align: center;
  font-weight: 200;
}
@media only screen and (max-width: 1000px) {
  .workGrid {
    grid-template-areas:
      "proto1-img"
      "proto1"
      "proto2-img"
      "proto2"
      "proto3-img"
      "proto3";
  }
}

form {
  width: 500px;
  margin: 0 0;
  padding: 45px;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.696);
  line-height: 2rem;
}
.Contact {
  background: url(../images/contactbackground.png);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}

.form-control {
  width: 100%;
}
button small {
  font-size: 20px;
}
.arrowcontainer {
  /* background: PaleGoldenRod  ; */
  height: 5rem;
  padding: 2rem;
  text-align: center;
}

.arrowcontent {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: rgba(218, 165, 32, 0.678);
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: rgba(0, 0, 0, 0.152);
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

.form-control {
  font-family: "Josefin Sans", sans-serif;
}
.mb-0 {
  font-size: 15px;
  text-justify: auto;
  opacity: 1;
  text-align: left;
}
.blockquote-footer {
  text-align: right;
  color: #808080;
}
.blockquote p {
  opacity: 1;
}
.card-header {
  text-align: right;
}
.card-body {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.card-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/PNG/quotes@4x.png);
  background-size: 10rem;
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.25;
}
.giphy-embeded {
  align-self: center;
}
